
## Last commit: 2020-02-03 12:53:19 CET by tplisson
version 15.1X49-D140.3;
groups {
    node0 {
        system {
            host-name SRX-ANS-3;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.4.252.12/28;
                        address 10.4.252.14/28 {
                            master-only;
                        }
                        address 192.168.200.79/24;
                        address 192.168.200.80/24 {
                            master-only;
                        }
                    }
                }
            }
        }
    }
    node1 {
        system {
            host-name SRX-WDC-3;
        }
        interfaces {
            fxp0 {
                unit 0 {
                    family inet {
                        address 10.4.252.13/28;
                        address 10.4.252.14/28 {
                            master-only;
                        }
                        address 192.168.200.81/24;
                        address 192.168.200.80/24 {
                            master-only;
                        }
                    }
                }
            }
        }
    }
}
apply-groups "${node}";
system {
    time-zone Europe/Brussels;
    authentication-order [ password tacplus ];
    root-authentication {
        encrypted-password "$5$3TXCb/67$.97B7MQcDOEKTUPnIfIGoMlgu4n2ihQjk4EA1mUVzf.";
    }
    tacplus-server {
        10.11.2.29 {
            secret "$9$C1pluORvMXbYohSwgaJDjTzF/pBcSevMXcyYo";
            timeout 1;
            single-connection;
        }
        10.11.2.30 {
            secret "$9$R/FSrvdVYZDkWLGiq.5TApu1cl8LNdVY8XDk";
            timeout 1;
            single-connection;
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    login {
        class voo-admin {
            idle-timeout 15;
            permissions all;
        }
        class voo-oper {
            idle-timeout 15;
            permissions [ access admin clear field firewall floppy flow-tap flow-tap-operation idp-profiler-operation interface network pgcp-session-mirroring reset rollback routing secret security shell snmp system trace view view-configuration ];
        }
        user DMA {
            uid 2003;
            class read-only;
            authentication {
                encrypted-password "$5$FaVRkFqD$7Enyuvm/Vq1piBByTShnG8i04jTNQ8t9NW.9zWiAoy8";
            }
        }
        user junosspace {
            uid 2001;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC6HnsQpsYpAOrRKiDSiFyWHNH+m7Xqw3Q2B1UlkcFKklaI/q1l6d9cj4aYmIBXmWE/fkENI16w1eVUHLyytewbaPaMbnnt6auUP73XwC4xVvqxsmfDMQFm31RvjSWoMrqYN/TDX/POq71+cqjVnVRYCQLcli4WmshKtg4q55hvHTmx1wtjrdjvgcACi8kGLrtPK1jXriM4ZwbC5d+UbWXaTA1Ai2F/4+32t54bVGlz3WytkCWHlEaVAlDippNLw+DsLcH46Z7aEcEGFLrqR9IxJMG0pYGyyHzcX/TO1iFJ1o/HCHO+VvGcekWiVQYllKO24Sv8/wTJEDpAxsV5Ju1n root@space-005056bd229f";
            }
        }
        user lotusscript {
            uid 2002;
            class voo-oper;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEApZacP+ue+uUPcZD6PhyeDtR/YAPft+77YvcsogZKSCmgWywBfG4eF1YLLHJtoefX20TUQLGRglMPFQkodMjt5oi2pw5i463oGZFK/vuqXWq3nNKak0Tx1skbg+HHTL4kG4x8RXO3aNIbRph3grAkBmeBAr2sI1nxyUXU6phYNlnRzMZKbtOotZ6RCuvH0om6Tb0jFNvK6IgEgIULIn2+XSGwTvR8BDr/aFWqjSdoMKHcGTJTA84wTjcJtbCnUffwxH9c6Afq2Y/D9X1P8lEwrCeVzcLve8HC0XLitgJqcPmdYHJP8I8apgKMvam0rFhxVWvl1j3+/XiPv3eBSx5D0Q==";
            }
        }
        user superadmin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$9d7XJjan$LpM0u7EN/gjmGKueOv9Vd1";
            }
        }
        user template-admin {
            uid 2010;
            class voo-admin;
        }
        user template-oper {
            uid 2011;
            class voo-oper;
        }
        user tplisson {
            uid 2004;
            class super-user;
            authentication {
                encrypted-password "$6$AKbrfJIU$dwzn92UgTIIJ9yKJtvJBK2aG0Lr/pxRwpdOZRmesKivbfot9YT3TmczmtLqSF1WRiqEMvhYmyydI4PVMZneHM.";
            }
        }
    }
    services {
        ssh {
            max-sessions-per-connection 32;
        }
        netconf {
            ssh;
        }
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.11.2.19 {
            any any;
            facility-override local1;
            explicit-priority;
        }
        file messages {
            any notice;
            authorization info;
            explicit-priority;
        }
        file interactive-commands {
            interactive-commands any;
        }
        file screens {
            any any;
            inactive: match RT_Screen;
        }
        inactive: file default-log-messages {
            any info;
            match "(FRU Offline)|(FRU Online)|(FRU insertion)|(FRU power)|(FRU removal)|(commit complete)|(copying configuration to juniper.save)|(license add)|(license delete)|(link UP)|(package -X delete)|(package -X update)|(plugged in)|(requested 'commit synchronize' operation)|(requested 'commit' operation)|(unplugged)|Transferred|ifAdminStatus|transfer-file|transitioned|GRES";
            structured-data;
        }
        file kmd-logs {
            daemon info;
            match KMD;
        }
    }
    archival {
        configuration {
            transfer-on-commit;
            archive-sites {
                "ftp://data:dAtra2@10.11.2.23/ARCHIVE/SRX";
            }
        }
    }
    license {
        autoupdate {
            url https://ae1.juniper.net/junos/key_retrieval;
        }
    }
    ntp {
        boot-server 10.11.2.14;
        server 10.11.2.14;
        server 10.11.2.21;
        source-address 10.11.3.20;
    }
}
chassis {
    cluster {
        control-link-recovery;
        reth-count 8;
        redundancy-group 0 {
            node 0 priority 100;
            node 1 priority 1;
        }
        redundancy-group 1 {
            node 0 priority 100;
            node 1 priority 1;
            interface-monitor {
                ge-0/0/0 weight 255;
                ge-0/0/1 weight 255;
                ge-7/0/1 weight 255;
                ge-7/0/0 weight 255;
            }
        }
        redundancy-group 2 {
            node 0 priority 100;
            node 1 priority 1;
            interface-monitor {
                xe-0/0/18 weight 255;
                xe-0/0/19 weight 255;
                xe-7/0/19 weight 255;
                xe-7/0/18 weight 255;
            }
        }
    }
}
# ###### ONLY ON SRX ##### #}
security {
    log {
        mode stream;
        source-address 10.11.3.20;
        stream syslog {
            format sd-syslog;
            host {
                10.11.2.16;
            }
        }
    }
    ike {
        proposal g2-aes256-sha1 {
            authentication-method pre-shared-keys;
            dh-group group2;
            authentication-algorithm sha1;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 86400;
        }
        proposal g5-aes256-sha1 {
            authentication-method pre-shared-keys;
            dh-group group5;
            authentication-algorithm sha1;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 28800;
        }
        proposal g14-aes256-sha256 {
            authentication-method pre-shared-keys;
            dh-group group14;
            authentication-algorithm sha-256;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 28800;
        }
        proposal g2-sha1-aes256 {
            authentication-method pre-shared-keys;
            dh-group group2;
            authentication-algorithm sha1;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 28800;
        }
        proposal g5-sha256-aes256 {
            authentication-method pre-shared-keys;
            dh-group group5;
            authentication-algorithm sha-256;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 86400;
        }
        proposal g14-sha1-aes256 {
            authentication-method pre-shared-keys;
            dh-group group14;
            authentication-algorithm sha1;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 28800;
        }
        proposal g5-AES256-SHA256 {
            authentication-method pre-shared-keys;
            dh-group group5;
            authentication-algorithm sha-256;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 86400;
        }
        proposal g19-aes-gcm-256 {
            authentication-method pre-shared-keys;
            dh-group group19;
            encryption-algorithm aes-256-gcm;
            lifetime-seconds 28800;
        }
        inactive: policy 46_31_56_1_Nagra-OTT {
            mode main;
            proposals g2-aes256-sha1;
            pre-shared-key ascii-text "$9$uBM60EcXx-s2ox7-wY4DjQz3n/Atu1reWCtSevWx7mf5Tz6u0IRhrRhbs2oGU.P5QF/IEyW8769Lx7dsYZUjkfz9CuOIE6/8X-VY2";
        }
        policy CTIF-IP {
            mode main;
            proposals g5-aes256-sha1;
            pre-shared-key ascii-text "$9$fz/ArlMN-wMWjHmPQzylKMXN4aGjH.fT1hclW87NdbgJGDkQ3/k.CuO1yrevW8-b24ZDkmoJkmfT6/RhSylM7-waZDsY5Fn6u0bwYoZjHqPfz6SrKW8xdVTzF3A0cyK8X-aZUHmf3nRhSl8XwY4UDkoat01Ele2goZiqfT3/A03nu1EceKgoJGDkP5F/9pBIMLN-Y2oaZj.fTQ3";
        }
        policy Ericsson-Stockholm {
            mode main;
            proposals g14-aes256-sha256;
            pre-shared-key ascii-text "$9$HqPTpuBESetucrvW7NZGDjP59CuRhyfTrvLX-dbs2gGi5TFApBbsiqfQ9CtuOIhyM8XVb2aZkPQFCA1RhcvWVwYaJDbsZjiqQztuO1IhM8xVsgBIv8";
        }
        policy Ericsson-Linkoping {
            mode main;
            proposals g14-aes256-sha256;
            pre-shared-key ascii-text "$9$Qoosnt0hclWX7rlxdVwg4369tORhcrMLNrlK8XNbw5Qz6CuEhrlvLyrJDikPfzFn6CuhcrKMXhSNVYgZGp0O1SrLx-g4ZtuBEhyvMxNdsaGDi.z3/qmAu";
        }
        policy Amazon-Memento-2 {
            mode main;
            proposals g14-aes256-sha256;
            pre-shared-key ascii-text "$9$tXBSpIh8L7w24vWds2oiH/9AuRhNdwaJD8XgaZjPfTQF/Cu0BReK8wY4ZGjmPp0O1Se-VY2oZIEK8X7sYTQF/u1hSlvLN.P";
        }
        policy Amazon-Memento-1 {
            mode main;
            proposals g14-aes256-sha256;
            pre-shared-key ascii-text "$9$N5-b2aJDmPQKMGDH.F31RhSK8dVYaJD9AM8xNwsQFn901IEyM87Eh4ZGUq.p0B1ylbwYGjHBIlM8LdV5Tz6tuIEceK8uO";
        }
        policy MVNO-Idemia-Sicap {
            mode main;
            proposals g2-sha1-aes256;
            pre-shared-key ascii-text "$9$QUooF/AO1Elv8B1WX-V2giHqfFnEhy8x-.P0BRSKvVwY4ZDQz6p01.P3/9pREx7-VYoq.fTz6LxVsYojiTz36uBhSlW87uO";
        }
        policy Astrid {
            mode main;
            proposals g5-sha256-aes256;
            pre-shared-key ascii-text "$9$R5whKW7-b4JUN-UiqP3nIEcSeW2gaGi.QFhSrvXxsYgojk5QFCt0-VQ39AIR2goZik3n9tu1s2/tu0RE4aZU.f69t1ESCA";
        }
        policy MVNO-Idemia-OTA {
            mode main;
            proposals g14-sha1-aes256;
            pre-shared-key ascii-text "$9$dqwgaDjk5TFji/AtuRELxNds4k.fF3/0BvLNbg4GUjHfQ369A01tuWX7Nbw3n/tuBleMWX7ZUORhyMWk.PT3/IEyeWXAp";
        }
        policy MVNO-E4T {
            mode main;
            proposals g5-AES256-SHA256;
            pre-shared-key ascii-text "$9$AfhmuESXxdsYodbH.5Q6/IRhSeWg4JUHm69vWXNsYaJGDjk36ABIhlK-bwYoa5Tzn9pcyeMLxmf1RhrMWZUDi.f6/ABIhCA";
        }
        policy MVNO-RingRing-DC-1 {
            mode main;
            proposals g5-sha256-aes256;
            pre-shared-key ascii-text "$9$s62aGHkm3nCQFMLNdY2jik.Tz1IhyK8/CM8xdY2ik.PTFCtuEcrRhVs2aiH/9At1EXx-w249AyKWxVbJGDifQp0IhrKCt";
        }
        policy MVNO-RingRing-DC-2 {
            mode main;
            proposals g5-sha256-aes256;
            pre-shared-key ascii-text "$9$MRs87dY2oiHmUj1EylW8ws24GD3n9tORqm1RclW8s24aGjmfT/Cp69eM87sYq.Pf3/hcrv8X.PtOIceKNdbsJU5Qn9pOmf";
        }
        policy CTIF-ODIN {
            mode main;
            proposals g19-aes-gcm-256;
            pre-shared-key ascii-text "$9$pqd2uIcLXNY4aevs4oZq.0BIhclVb2oJUVbGik.zF9ApuRhLX-sgaz3ORcyMWJZUjkm5QF6/ATz01EcMWaZGjqfTQ3Ct0SrKWXxVb";
        }
        policy 91_183_134_68_CTIF-Voice {
            mode main;
            proposals g5-aes256-sha1;
            pre-shared-key ascii-text "$9$K148NVji.zF/.mEcleW8Dik.5zp01EcrKM4ZGimPQz36tO1RSWXNSrds24DjHqmPF6ApBRSluOSlKM7NaZUDi.QF/0BR9CvLx7sY6/CuBEcyeK87UjkmPT3nM8LXVYGDkP5F0BIclKXxaZUiP5/CpIRSu0bY4JiHAtuBhyKMXNVYXxs4JGHktuO1RSevLN-wgo.fzFCAu0BErKMWX";
        }
        inactive: gateway 46_31_56_1_Nagra-OTT {
            ike-policy 46_31_56_1_Nagra-OTT;
            address 46.31.56.1;
            dead-peer-detection {
                interval 30;
                threshold 3;
            }
            local-identity inet 185.3.160.35;
            remote-identity inet 46.31.56.1;
            external-interface reth0.921;
            version v1-only;
        }
        gateway 91_183_134_68_CTIF-IP {
            ike-policy CTIF-IP;
            address 91.183.134.68;
            dead-peer-detection {
                interval 30;
                threshold 3;
            }
            local-identity inet 185.3.160.35;
            remote-identity inet 91.183.134.68;
            external-interface reth0.921;
            version v1-only;
        }
        gateway 192_165_183_140_Ericsson-Stockh {
            ike-policy Ericsson-Stockholm;
            address 192.165.183.140;
            dead-peer-detection {
                interval 30;
                threshold 3;
            }
            local-identity inet 185.3.160.35;
            remote-identity inet 192.165.183.140;
            external-interface reth0.921;
        }
        gateway 213_159_174_9_Ericsson-Linkopin {
            ike-policy Ericsson-Linkoping;
            address 213.159.174.9;
            dead-peer-detection {
                interval 30;
                threshold 3;
            }
            local-identity inet 185.3.160.35;
            remote-identity inet 213.159.174.9;
            external-interface reth0.921;
        }
        gateway 52_19_159_170_Amazon-Memento-2 {
            ike-policy Amazon-Memento-2;
            address 52.19.159.170;
            dead-peer-detection {
                interval 10;
                threshold 3;
            }
            no-nat-traversal;
            external-interface reth0.921;
        }
        gateway 52_18_99_53_Amazon-Memento-1 {
            ike-policy Amazon-Memento-1;
            address 52.18.99.53;
            dead-peer-detection {
                interval 10;
                threshold 3;
            }
            no-nat-traversal;
            external-interface reth0.921;
        }
        gateway 37_59_142_34_MVNO-Idemia-Sicap {
            ike-policy MVNO-Idemia-Sicap;
            address 37.59.142.34;
            no-nat-traversal;
            local-identity inet 185.3.160.35;
            remote-identity inet 37.59.142.34;
            external-interface reth0.921;
            version v1-only;
        }
        gateway 193_190_151_8_Astrid {
            ike-policy Astrid;
            address 193.190.151.8;
            dead-peer-detection {
                interval 30;
                threshold 3;
            }
            local-identity inet 185.3.160.35;
            remote-identity inet 193.190.151.8;
            external-interface reth0.921;
            version v1-only;
        }
        gateway 54_36_23_90_MVNO-Idemia-OTA {
            ike-policy MVNO-Idemia-OTA;
            address 54.36.23.90;
            no-nat-traversal;
            local-identity inet 185.3.160.35;
            remote-identity inet 54.36.23.90;
            external-interface reth0.921;
            version v1-only;
        }
        gateway 212_68_248_98_MVNO-E4T {
            ike-policy MVNO-E4T;
            address 212.68.214.98;
            local-identity inet 185.3.160.35;
            remote-identity inet 212.68.214.98;
            external-interface reth0.921;
            version v1-only;
        }
        gateway 194_78_45_194_MVNO-RingRing-DC- {
            ike-policy MVNO-RingRing-DC-1;
            address 194.78.45.194;
            local-identity inet 185.3.160.35;
            remote-identity inet 194.78.45.194;
            external-interface reth0.921;
            version v1-only;
        }
        gateway 213_246_242_36_MVNO-RingRing-DC {
            ike-policy MVNO-RingRing-DC-2;
            address 213.246.242.36;
            local-identity inet 185.3.160.35;
            remote-identity inet 213.246.242.36;
            external-interface reth0.921;
            version v1-only;
        }
        gateway 194_78_118_126_CTIF-ODIN {
            ike-policy CTIF-ODIN;
            address 194.78.118.126;
            local-identity inet 185.3.160.35;
            remote-identity inet 194.78.118.126;
            external-interface reth0.921;
            version v2-only;
            fragmentation {
                disable;
                size 570;
            }
        }
    }
    ipsec {
        proposal esp-aes128-md5 {
            protocol esp;
            authentication-algorithm hmac-md5-96;
            encryption-algorithm aes-128-cbc;
            lifetime-seconds 3600;
        }
        proposal esp-aes256-sha1 {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 28800;
        }
        proposal esp-aes128-sha256 {
            protocol esp;
            authentication-algorithm hmac-sha-256-128;
            encryption-algorithm aes-128-cbc;
            lifetime-seconds 3600;
        }
        proposal esp-aes256-sha256 {
            protocol esp;
            authentication-algorithm hmac-sha-256-128;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 3600;
        }
        proposal g5-sha1-aes256 {
            protocol esp;
            authentication-algorithm hmac-sha1-96;
            encryption-algorithm aes-256-cbc;
            lifetime-seconds 3600;
        }
        proposal esp-aes-gcm {
            protocol esp;
            encryption-algorithm aes-256-gcm;
            lifetime-seconds 3600;
        }
        inactive: policy Nagra-OTT {
            perfect-forward-secrecy {
                keys group2;
            }
            proposals esp-aes128-md5;
        }
        policy CTIF-IP {
            perfect-forward-secrecy {
                keys group5;
            }
            proposals esp-aes256-sha1;
        }
        policy Ericsson-Stockholm {
            perfect-forward-secrecy {
                keys group14;
            }
            proposals esp-aes128-sha256;
        }
        policy Ericsson-Linkoping {
            perfect-forward-secrecy {
                keys group14;
            }
            proposals esp-aes128-sha256;
        }
        policy Amazon-Memento-2 {
            perfect-forward-secrecy {
                keys group2;
            }
            proposals esp-aes256-sha256;
        }
        policy Amazon-Memento-1 {
            perfect-forward-secrecy {
                keys group2;
            }
            proposals esp-aes256-sha256;
        }
        policy MVNO-Idemia-Sicap {
            perfect-forward-secrecy {
                keys group2;
            }
            proposals esp-aes256-sha1;
        }
        policy Astrid {
            perfect-forward-secrecy {
                keys group5;
            }
            proposals g5-sha1-aes256;
        }
        policy MVNO-Idemia-OTA {
            perfect-forward-secrecy {
                keys group2;
            }
            proposals esp-aes256-sha1;
        }
        policy MVNO-E4T {
            perfect-forward-secrecy {
                keys group5;
            }
            proposals g5-sha1-aes256;
        }
        policy MVNO-RingRing-DC-1 {
            perfect-forward-secrecy {
                keys group5;
            }
            proposals g5-sha1-aes256;
        }
        policy MVNO-RingRing-DC-2 {
            perfect-forward-secrecy {
                keys group5;
            }
            proposals g5-sha1-aes256;
        }
        policy CTIF-ODIN {
            perfect-forward-secrecy {
                keys group19;
            }
            proposals esp-aes-gcm;
        }
        inactive: vpn 46_31_56_1_Nagra-OTT {
            bind-interface st0.1;
            ike {
                gateway 46_31_56_1_Nagra-OTT;
                inactive: idle-time 60;
                ipsec-policy Nagra-OTT;
                install-interval 1;
            }
            traffic-selector 185.3.160.138_32_10.11.241.1_32 {
                local-ip 185.3.160.138/32;
                remote-ip 10.11.241.1/32;
            }
            traffic-selector 185.3.160.135_32_10.11.241.1_32 {
                local-ip 185.3.160.135/32;
                remote-ip 10.11.241.1/32;
            }
            traffic-selector 185.3.160.134_32_10.11.241.2_32 {
                local-ip 185.3.160.134/32;
                remote-ip 10.11.241.2/32;
            }
            traffic-selector 185.3.160.139_32_10.11.241.3_32 {
                local-ip 185.3.160.139/32;
                remote-ip 10.11.241.3/32;
            }
            traffic-selector 185.3.160.134_32_10.11.241.3_32 {
                local-ip 185.3.160.134/32;
                remote-ip 10.11.241.3/32;
            }
            traffic-selector 185.3.160.138_32_10.11.241.2_32 {
                local-ip 185.3.160.138/32;
                remote-ip 10.11.241.2/32;
            }
            traffic-selector 185.3.160.134_32_10.11.241.1_32 {
                local-ip 185.3.160.134/32;
                remote-ip 10.11.241.1/32;
            }
            traffic-selector 185.3.160.135_32_10.11.241.3_32 {
                local-ip 185.3.160.135/32;
                remote-ip 10.11.241.3/32;
            }
            traffic-selector 185.3.160.139_32_10.11.241.2_32 {
                local-ip 185.3.160.139/32;
                remote-ip 10.11.241.2/32;
            }
            traffic-selector 185.3.160.133_32_10.11.241.2_32 {
                local-ip 185.3.160.133/32;
                remote-ip 10.11.241.2/32;
            }
            traffic-selector 185.3.160.139_32_10.11.241.1_32 {
                local-ip 185.3.160.139/32;
                remote-ip 10.11.241.1/32;
            }
            traffic-selector 185.3.160.133_32_10.11.241.1_32 {
                local-ip 185.3.160.133/32;
                remote-ip 10.11.241.1/32;
            }
            traffic-selector 185.3.160.138_32_10.11.241.3_32 {
                local-ip 185.3.160.138/32;
                remote-ip 10.11.241.3/32;
            }
            traffic-selector 185.3.160.133_32_10.11.241.3_32 {
                local-ip 185.3.160.133/32;
                remote-ip 10.11.241.3/32;
            }
            traffic-selector 185.3.160.135_32_10.11.241.2_32 {
                local-ip 185.3.160.135/32;
                remote-ip 10.11.241.2/32;
            }
            establish-tunnels immediately;
        }
        vpn 91_183_134_68_CTIF-IP {
            bind-interface st0.2;
            ike {
                gateway 91_183_134_68_CTIF-IP;
                idle-time 60;
                ipsec-policy CTIF-IP;
                install-interval 1;
            }
            establish-tunnels immediately;
        }
        vpn 192_165_183_140_Ericsson-Stockh {
            bind-interface st0.3;
            ike {
                gateway 192_165_183_140_Ericsson-Stockh;
                inactive: idle-time 60;
                ipsec-policy Ericsson-Stockholm;
                install-interval 1;
            }
            traffic-selector 10.11.3.2_32_10.11.240.0_29 {
                local-ip 10.11.3.2/32;
                remote-ip 10.11.240.0/29;
            }
            traffic-selector 10.8.3.0_24_10.11.240.0_29 {
                local-ip 10.8.3.0/24;
                remote-ip 10.11.240.0/29;
            }
            establish-tunnels immediately;
        }
        vpn 213_159_174_9_Ericsson-Linkopin {
            bind-interface st0.4;
            ike {
                gateway 213_159_174_9_Ericsson-Linkopin;
                inactive: idle-time 60;
                ipsec-policy Ericsson-Linkoping;
                install-interval 1;
            }
            traffic-selector 10.8.3.0_24_10.11.240.8_29 {
                local-ip 10.8.3.0/24;
                remote-ip 10.11.240.8/29;
            }
            traffic-selector 10.11.3.2_32_10.11.240.8_29 {
                local-ip 10.11.3.2/32;
                remote-ip 10.11.240.8/29;
            }
            establish-tunnels immediately;
        }
        vpn 52_19_159_170_Amazon-Memento-2 {
            bind-interface st0.6;
            df-bit clear;
            ike {
                gateway 52_19_159_170_Amazon-Memento-2;
                idle-time 60;
                ipsec-policy Amazon-Memento-2;
                install-interval 1;
            }
            establish-tunnels immediately;
        }
        vpn 52_18_99_53_Amazon-Memento-1 {
            bind-interface st0.5;
            df-bit clear;
            ike {
                gateway 52_18_99_53_Amazon-Memento-1;
                idle-time 60;
                ipsec-policy Amazon-Memento-1;
                install-interval 1;
            }
            establish-tunnels immediately;
        }
        vpn 37_59_142_34_MVNO-Idemia-Sicap {
            bind-interface st0.7;
            ike {
                gateway 37_59_142_34_MVNO-Idemia-Sicap;
                ipsec-policy MVNO-Idemia-Sicap;
            }
            traffic-selector 185.3.162.96_32_10.11.240.17_32 {
                local-ip 185.3.162.96/32;
                remote-ip 10.11.240.17/32;
            }
            traffic-selector 185.3.163.96_32_10.11.240.17_32 {
                local-ip 185.3.163.96/32;
                remote-ip 10.11.240.17/32;
            }
            establish-tunnels immediately;
        }
        vpn 193_190_151_8_Astrid {
            bind-interface st0.8;
            ike {
                gateway 193_190_151_8_Astrid;
                ipsec-policy Astrid;
            }
            traffic-selector SMSC-ANS-Astrid {
                local-ip 185.3.163.96/32;
                remote-ip 193.190.151.101/32;
            }
            traffic-selector SMSC-WDC-Astrid {
                local-ip 185.3.162.96/32;
                remote-ip 193.190.151.101/32;
            }
            establish-tunnels immediately;
        }
        vpn 54_36_23_90_MVNO-Idemia-OTA {
            bind-interface st0.9;
            ike {
                gateway 54_36_23_90_MVNO-Idemia-OTA;
                ipsec-policy MVNO-Idemia-OTA;
            }
            traffic-selector 185.3.163.96_32_88.2.164.252_32 {
                local-ip 185.3.163.96/32;
                remote-ip 88.2.164.252/32;
            }
            traffic-selector 185.3.162.96_32_88.2.164.252_32 {
                local-ip 185.3.162.96/32;
                remote-ip 88.2.164.252/32;
            }
            traffic-selector 185.3.163.105_88.2.164.252 {
                local-ip 185.3.163.105/32;
                remote-ip 88.2.164.252/32;
            }
            traffic-selector 185.3.162.137_88.2.164.252 {
                local-ip 185.3.162.137/32;
                remote-ip 88.2.164.252/32;
            }
            establish-tunnels immediately;
        }
        vpn 194_78_45_194_MVNO-RingRing-DC- {
            bind-interface st0.11;
            ike {
                gateway 194_78_45_194_MVNO-RingRing-DC-;
                ipsec-policy MVNO-RingRing-DC-1;
            }
            traffic-selector 185.3.163.96_194.78.45.195 {
                local-ip 185.3.163.96/32;
                remote-ip 194.78.45.195/32;
            }
            traffic-selector 185.3.162.96_194.78.45.195 {
                local-ip 185.3.162.96/32;
                remote-ip 194.78.45.195/32;
            }
            establish-tunnels immediately;
        }
        vpn 212_68_214_98_MVNO-E4T {
            bind-interface st0.10;
            ike {
                gateway 212_68_248_98_MVNO-E4T;
                ipsec-policy MVNO-E4T;
            }
            traffic-selector 185.3.162.96_32_10.11.240.24_29 {
                local-ip 185.3.162.96/32;
                remote-ip 10.11.240.24/29;
            }
            traffic-selector 185.3.163.96_32_10.11.240.24_29 {
                local-ip 185.3.163.96/32;
                remote-ip 10.11.240.24/29;
            }
            traffic-selector 185.3.162.137_10.11.240.24 {
                local-ip 185.3.162.137/32;
                remote-ip 10.11.240.24/29;
            }
            traffic-selector 185.3.162.136_10.11.240.24 {
                local-ip 185.3.162.136/32;
                remote-ip 10.11.240.24/29;
            }
            traffic-selector 185.3.163.105_10.11.240.24 {
                local-ip 185.3.163.105/32;
                remote-ip 10.11.240.24/29;
            }
            traffic-selector 185.3.163.105_10.11.240.28 {
                local-ip 185.3.163.105/32;
                remote-ip 10.11.240.28/32;
            }
            traffic-selector 185.3.163.106_212.68.214.109 {
                local-ip 185.3.163.106/32;
                remote-ip 212.68.214.109/32;
            }
            traffic-selector 185.3.162.138_212.68.214.109 {
                local-ip 185.3.162.138/32;
                remote-ip 212.68.214.109/32;
            }
            establish-tunnels immediately;
        }
        vpn 213_246_242_36_MVNO-RingRing-DC {
            bind-interface st0.12;
            ike {
                gateway 213_246_242_36_MVNO-RingRing-DC;
                ipsec-policy MVNO-RingRing-DC-2;
            }
            traffic-selector 185.3.162.96_213.246.242.37 {
                local-ip 185.3.162.96/32;
                remote-ip 213.246.242.37/32;
            }
            traffic-selector 185.3.163.96_213.246.242.37 {
                local-ip 185.3.163.96/32;
                remote-ip 213.246.242.37/32;
            }
            establish-tunnels immediately;
        }
        vpn 194_78_118_126_CTIF-ODIN {
            bind-interface st0.13;
            ike {
                gateway 194_78_118_126_CTIF-ODIN;
                ipsec-policy CTIF-ODIN;
            }
            traffic-selector 185.3.160.143_194.78.118.116 {
                local-ip 185.3.160.143/32;
                remote-ip 194.78.118.116/32;
            }
            traffic-selector 185.3.160.143_194.78.118.117 {
                local-ip 185.3.160.143/32;
                remote-ip 194.78.118.117/32;
            }
            traffic-selector 185.3.160.152_194.78.118.116 {
                local-ip 185.3.160.152/32;
                remote-ip 194.78.118.116/32;
            }
            traffic-selector 185.3.160.152_194.78.118.117 {
                local-ip 185.3.160.152/32;
                remote-ip 194.78.118.117/32;
            }
            traffic-selector 185.3.160.144_194.78.118.116 {
                local-ip 185.3.160.144/32;
                remote-ip 194.78.118.116/32;
            }
            traffic-selector 185.3.160.144_194.78.118.117 {
                local-ip 185.3.160.144/32;
                remote-ip 194.78.118.117/32;
            }
            establish-tunnels immediately;
        }
    }
    flow {
        traceoptions {
            file flow-trace1 size 10m files 3;
            flag basic-datapath;
            packet-filter pf1 {
                source-prefix 213.246.242.37/32;
                destination-prefix 185.3.162.96/32;
            }
            packet-filter pf2 {
                source-prefix 185.3.162.96/32;
                destination-prefix 213.246.242.37/32;
            }
        }
    }
    policies {
        from-zone be-vpn-vsrx to-zone dmz-vpn-vendors {
            policy inside-to-outside {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                    log {
                        session-init;
                        session-close;
                    }
                }
            }
        }
        from-zone dmz-vpn-vendors to-zone be-vpn-vsrx {
            policy outside-to-inside {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                    log {
                        session-init;
                        session-close;
                    }
                }
            }
        }
        from-zone vr to-zone vr {
            policy permit-all {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                    log {
                        session-init;
                        session-close;
                    }
                }
            }
        }
        policy-rematch;
    }
    zones {
        security-zone be-vpn-vsrx {
            tcp-rst;
            interfaces {
                reth1.923 {
                    host-inbound-traffic {
                        system-services {
                            ssh;
                            snmp;
                            ping;
                        }
                    }
                }
            }
        }
        security-zone dmz-vpn-vendors {
            host-inbound-traffic {
                system-services {
                    ike;
                    ping;
                }
                protocols {
                    bgp;
                }
            }
            interfaces {
                st0.1;
                st0.2;
                st0.3;
                st0.4;
                st0.6;
                st0.5;
                st0.7;
                st0.8;
                st0.9;
                st0.10;
                st0.11;
                st0.12;
                st0.13;
                reth0.921 {
                    host-inbound-traffic {
                        system-services {
                            ike;
                        }
                    }
                }
            }
        }
        security-zone vr {
            host-inbound-traffic {
                system-services {
                    all;
                }
                protocols {
                    all;
                }
            }
            interfaces {
                reth2.10;
                reth2.20;
            }
        }
        security-zone vr30 {
            host-inbound-traffic {
                system-services {
                    all;
                }
                protocols {
                    all;
                }
            }
            interfaces {
                reth2.30;
            }
        }
    }
}
interfaces {
    ge-0/0/0 {
        disable;
        ether-options {
            redundant-parent reth0;
        }
    }
    ge-0/0/1 {
        disable;
        ether-options {
            redundant-parent reth1;
        }
    }
    xe-0/0/18 {
        gigether-options {
            redundant-parent reth2;
        }
    }
    xe-0/0/19 {
        gigether-options {
            redundant-parent reth2;
        }
    }
    ge-7/0/0 {
        disable;
        ether-options {
            redundant-parent reth0;
        }
    }
    ge-7/0/1 {
        disable;
        ether-options {
            redundant-parent reth1;
        }
    }
    xe-7/0/18 {
        gigether-options {
            redundant-parent reth2;
        }
    }
    xe-7/0/19 {
        gigether-options {
            redundant-parent reth2;
        }
    }
    fab0 {
        fabric-options {
            member-interfaces {
                ge-0/0/10;
                ge-0/0/11;
            }
        }
    }
    fab1 {
        fabric-options {
            member-interfaces {
                ge-7/0/10;
                ge-7/0/11;
            }
        }
    }
    reth0 {
        disable;
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 1;
            lacp {
                active;
                periodic fast;
            }
        }
        unit 921 {
            description dmz-vpn-vendors--T;
            vlan-id 921;
            family inet {
                address 185.3.160.35/32;
            }
        }
    }
    reth1 {
        description be-vpn-vsrx--M;
        disable;
        vlan-tagging;
        redundant-ether-options {
            redundancy-group 1;
            lacp {
                active;
                periodic fast;
            }
        }
        unit 923 {
            description be-vpn-vsrx--T;
            vlan-id 923;
            family inet {
                address 10.11.3.20/32;
            }
        }
    }
    reth2 {
        vlan-tagging;
        mtu 9000;
        redundant-ether-options {
            redundancy-group 2;
            lacp {
                active;
                periodic fast;
            }
        }
        unit 10 {
            vlan-id 10;
            family inet {
                address 10.10.0.100/24;
            }
            family inet6 {
                address 100::100/64;
            }
        }
        unit 20 {
            vlan-id 20;
            family inet {
                address 10.20.0.100/24;
            }
            family inet6 {
                address 200::100/64;
            }
        }
        unit 30 {
            vlan-id 30;
            family inet {
                address 10.30.0.100/24;
            }
            family inet6 {
                address 300::100/64;
                address fe80::30:100/64;
            }
        }
    }
    st0 {
        unit 1 {
            description Nagra-OTT_46_31_56_1;
            family inet;
        }
        unit 2 {
            description CTIF-IP_91_183_134_68;
            family inet;
        }
        unit 3 {
            description Ericsson-Stockh_192_165_183_140;
            family inet;
        }
        unit 4 {
            description Ericsson-Linkopin_213_159_174_9;
            family inet;
        }
        unit 5 {
            description Amazon-Memento-1_52_18_99_53--T;
            family inet {
                mtu 1436;
                address 169.254.21.114/30;
            }
        }
        unit 6 {
            description Amazon-Memento-2_52_19_159_170--T;
            family inet {
                mtu 1436;
                address 169.254.21.170/30;
            }
        }
        unit 7 {
            description MVNO-Idemia-Sicap_37_59_142_34;
            family inet {
                mtu 1500;
            }
        }
        unit 8 {
            description MVNO-Astrid_193_190_151_8;
            family inet {
                mtu 1500;
            }
        }
        unit 9 {
            description MVNO-Idemia-OTA_54_36_23_90;
            family inet;
        }
        unit 10 {
            description MVNO-E4T_212_68_214_98;
            family inet;
        }
        unit 11 {
            description MVNO-RingRing-DC-1_194_78_45_194;
            family inet;
        }
        unit 12 {
            description MVNO-RingRing-DC-2_213_246_242_36;
            family inet;
        }
        unit 13 {
            description CTIF-Odin_194_78_118_126;
            family inet {
                mtu 1500;
            }
        }
        unit 14 {
            family inet;
        }
    }
}
snmp {
    filter-interfaces {
        interfaces {
            st0.;
        }
    }
    view donopollslow {
        oid 1.3.6.1.4.1.2636.3.26 exclude;
        oid 1.3.6.1.4.1.2636.3.30 exclude;
        oid 1.3.6.1.4.1.2636.3.3.1.1.10 exclude;
        oid 1.3.6.1.4.1.2636.3.3 exclude;
        oid 1 include;
    }
    community CADMIUM {
        view donopollslow;
        authorization read-only;
    }
    trap-group space {
        version v2;
        targets {
            10.11.2.60;
        }
    }
}
routing-options {
    static {
        route 10.0.0.0/8 next-hop 10.11.3.17;
        route 185.3.160.0/22 next-hop 10.11.3.17;
        route 10.11.254.144/29 next-hop 185.3.160.33;
        route 10.11.0.0/16 next-hop 10.11.3.17;
        route 46.31.56.1/32 next-hop 185.3.160.33;
        route 91.183.134.68/32 next-hop 185.3.160.33;
        route 192.165.183.140/32 next-hop 185.3.160.33;
        route 213.159.174.9/32 next-hop 185.3.160.33;
        route 52.18.99.53/32 next-hop 185.3.160.33;
        route 52.19.159.170/32 next-hop 185.3.160.33;
        route 192.168.231.0/24 next-hop 10.11.3.17;
        route 37.59.142.34/32 next-hop 185.3.160.33;
        route 54.36.23.90/32 next-hop 185.3.160.33;
        route 212.68.214.98/32 next-hop 185.3.160.33;
        route 193.190.151.8/32 next-hop 185.3.160.33;
        route 194.78.45.194/32 next-hop 185.3.160.33;
        route 213.246.242.36/32 next-hop 185.3.160.33;
        route 194.78.118.126/32 next-hop 185.3.160.33;
        route 194.78.187.138/32 next-hop st0.2;
        route 91.183.134.78/32 next-hop st0.2;
        route 10.231.140.0/22 next-hop 10.11.3.17;
        route 10.231.12.0/22 next-hop 10.11.3.17;
        route 10.8.2.0/25 next-hop 10.11.3.17;
        route 10.11.240.0/22 discard;
        route 10.11.244.0/22 discard;
        route 212.3.248.114/32 discard;
    }
    autonomous-system 65000;
}
protocols {
    bgp {
        group Amazon-Memento {
            type external;
            hold-time 30;
            import PO_Accept_from_Amazon-Memento;
            export PO_Announced_to_Amazon-Memento;
            peer-as 9059;
            neighbor 169.254.21.169 {
                description amazon-vgw-2;
            }
            neighbor 169.254.21.113 {
                description amazon-vgw-1;
            }
        }
        group ex-dmz {
            type external;
            authentication-key "$9$u24lOEy8X-Vb28XmTQ3puO1IhlK8Lx";
            peer-as 64514;
            neighbor 10.11.3.18 {
                description EX-WDC-DMZ-1;
            }
            neighbor 10.11.3.19 {
                description EX-ANS-DMZ-1;
            }
        }
    }
    lldp {
        port-id-subtype interface-name;
        interface xe-0/0/18;
        interface xe-0/0/19;
        interface xe-7/0/18;
        interface xe-7/0/19;
    }
}
policy-options {
    prefix-list PL_to_Amazon-Memento {
        10.4.0.0/16;
        10.5.0.0/16;
        10.6.0.0/16;
        10.8.2.0/25;
        10.11.0.0/16;
        10.11.2.0/24;
        10.231.12.0/22;
        10.231.140.0/22;
        192.168.172.0/24;
        192.168.231.0/24;
    }
    prefix-list PL_to_QFX-DMZ {
        88.2.164.252/32;
        91.183.134.78/32;
        193.190.151.101/32;
        194.78.45.195/32;
        194.78.118.116/32;
        194.78.187.138/32;
        212.68.214.109/32;
        213.246.242.37/32;
    }
    prefix-list IXIAv6 {
        111::/64;
        122::/64;
    }
    prefix-list IXIAv4 {
        10.10.11.0/24;
        10.10.22.0/24;
    }
    policy-statement PL-AGGREGATE {
        term AGGREGATE {
            from protocol aggregate;
            then accept;
        }
    }
    policy-statement PL-DIRECT {
        term DIRECT {
            from protocol direct;
            then accept;
        }
    }
    policy-statement PL-STATIC {
        term STATIC {
            from protocol static;
            then accept;
        }
    }
    policy-statement PO_Accept_from_Amazon-Memento {
        term Accepted {
            from {
                route-filter 10.15.152.0/21 exact;
            }
            then accept;
        }
        term Rejected {
            then reject;
        }
    }
    policy-statement PO_Announced-to-QFX-MDZ {
        term Tunnel {
            from {
                prefix-list PL_to_QFX-DMZ;
            }
            then accept;
        }
        term Static-discard {
            from {
                protocol static;
                route-filter 10.11.240.0/22 exact;
                route-filter 10.11.244.0/22 exact;
                route-filter 212.3.248.114/32 exact;
            }
            then accept;
        }
        term Reject-Other {
            then reject;
        }
    }
    policy-statement PO_Announced_to_Amazon-Memento {
        term Allowed {
            from {
                prefix-list PL_to_Amazon-Memento;
            }
            then {
                community add NO-EXPORT;
                accept;
            }
        }
        term Rejected {
            then reject;
        }
    }
    policy-statement STATIC {
        term static {
            from protocol static;
            then accept;
        }
    }
    community NO-EXPORT members 65535:65281;
}
routing-instances {
    vr {
        instance-type virtual-router;
        interface reth2.10;
        interface reth2.20;
        routing-options {
            rib vr.inet6.0 {
                static {
                    route ::/0 discard;
                }
            }
            static {
                route 0.0.0.0/0 discard;
            }
            autonomous-system 65100;
        }
        protocols {
            bgp {
                export PL-DIRECT;
                group 10-v4 {
                    export PL-STATIC;
                    peer-as 64514;
                    neighbor 10.10.0.2;
                    neighbor 10.10.0.3;
                    neighbor 10.10.0.4;
                    neighbor 10.10.0.5;
                }
                group 10-v6 {
                    export PL-STATIC;
                    peer-as 64514;
                    neighbor 100::2;
                    neighbor 100::3;
                    neighbor 100::4;
                    neighbor 100::5;
                }
                group 20-v4 {
                    export PL-STATIC;
                    peer-as 64514;
                    neighbor 10.20.0.2;
                    neighbor 10.20.0.3;
                    neighbor 10.20.0.4;
                    neighbor 10.20.0.5;
                }
                group 20-v6 {
                    export PL-STATIC;
                    peer-as 64514;
                    neighbor 200::2;
                    neighbor 200::3;
                    neighbor 200::4;
                    neighbor 200::5;
                }
            }
        }
    }
    vr30 {
        instance-type virtual-router;
        interface reth2.30;
        routing-options {
            rib vr30.inet6.0 {
                static {
                    route ::/0 next-hop 300::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.30.0.1;
            }
        }
    }
}
