
## Last commit: 2020-02-05 14:18:24 CET by ovroonen
version 18.4R2-S3;
groups {
    CoS-default-scheduler-map {
        class-of-service {
            interfaces {
                <*> {
                    scheduler-map smap-high-bw;
                }
            }
        }
    }
}
system {
    commit synchronize;
    login {
        class operator-local {
            idle-timeout 15;
            permissions [ network trace view view-configuration ];
        }
        class voo-admin {
            idle-timeout 15;
            permissions all;
        }
        class voo-oper {
            idle-timeout 15;
            permissions [ access admin clear field firewall floppy flow-tap flow-tap-operation idp-profiler-operation interface network pgcp-session-mirroring reset rollback routing secret security shell snmp system trace view view-configuration ];
        }
        user DMA {
            uid 2003;
            class read-only;
            authentication {
                encrypted-password "$1$.UBWfr9p$rpzyDrS87I2t8PP.slueK/";
            }
        }
        user junosspace {
            uid 2001;
            class super-user;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC6HnsQpsYpAOrRKiDSiFyWHNH+m7Xqw3Q2B1UlkcFKklaI/q1l6d9cj4aYmIBXmWE/fkENI16w1eVUHLyytewbaPaMbnnt6auUP73XwC4xVvqxsmfDMQFm31RvjSWoMrqYN/TDX/POq71+cqjVnVRYCQLcli4WmshKtg4q55hvHTmx1wtjrdjvgcACi8kGLrtPK1jXriM4ZwbC5d+UbWXaTA1Ai2F/4+32t54bVGlz3WytkCWHlEaVAlDippNLw+DsLcH46Z7aEcEGFLrqR9IxJMG0pYGyyHzcX/TO1iFJ1o/HCHO+VvGcekWiVQYllKO24Sv8/wTJEDpAxsV5Ju1n root@space-005056bd229f";
            }
        }
        inactive: user lotusscript {
            uid 2002;
            class operator-local;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEApZacP+ue+uUPcZD6PhyeDtR/YAPft+77YvcsogZKSCmgWywBfG4eF1YLLHJtoefX20TUQLGRglMPFQkodMjt5oi2pw5i463oGZFK/vuqXWq3nNKak0Tx1skbg+HHTL4kG4x8RXO3aNIbRph3grAkBmeBAr2sI1nxyUXU6phYNlnRzMZKbtOotZ6RCuvH0om6Tb0jFNvK6IgEgIULIn2+XSGwTvR8BDr/aFWqjSdoMKHcGTJTA84wTjcJtbCnUffwxH9c6Afq2Y/D9X1P8lEwrCeVzcLve8HC0XLitgJqcPmdYHJP8I8apgKMvam0rFhxVWvl1j3+/XiPv3eBSx5D0Q==";
            }
        }
        user oper {
            uid 2004;
            class operator-local;
            authentication {
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA1rEtcVaQp9JV1qibCAHhPrGRA/h8mUUyvrzW00/XlCX1Mru2t2fvoy9hEBvpyYTFv3Dpm59RglBOtvya838wvgT12C9cIksborb/yV6scUoS7qVjwsFKb8qP4yDPsx3ymNza73tLjFyAqc4jZ3kn4SbisgYJNlV/FxApjgpIOD+guAio+GU0jwa1ecHcOl7flfSTosCfgshEvuGRTmiqkp4G4LLBZvzqPe62eS9hL83/82B7s31kBSO0wh6v+ABGjmBUxgN7+0K5xDM+CD6hNmcf56m3RRti8Rn+WTId1iprbuUX1RlOr9TNKIC866RNVAji5RnR9J0/8LbJ6grboQ== oper@SBVCP-SCRIPT";
            }
        }
        user superadmin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$1$RN5rs8D.$0GRC0MyTz7czJhibyx/eX/";
            }
        }
        user template-admin {
            uid 2010;
            class voo-admin;
        }
        user template-oper {
            uid 2011;
            class voo-oper;
        }
        user tplisson {
            uid 2005;
            class super-user;
            authentication {
                encrypted-password "$6$bz9R8zad$31t0ed9fF6D8WcD8beavraTvAZOporf8TKLHW.7egu4ABWEUk.upEFrEHVvTloa4tZc5mXfJ32ebrO0RkJbur.";
            }
        }
    }
    root-authentication {
        encrypted-password "$6$TVl57UA1$9GN1pVKJ0MTfB2Bp6w6OkRKoyJrH7i1lsqR17V995RAieH65GZe7pn3XiIDrK/iUjnEbHr48J3aV59BYplC0r.";
    }
    services {
        ssh {
            root-login allow;
            protocol-version v2;
            max-sessions-per-connection 32;
        }
        extension-service {
            request-response {
                grpc {
                    clear-text {
                        port 50051;
                    }
                    skip-authentication;
                }
            }
            notification {
                allow-clients {
                    address 0.0.0.0/0;
                }
            }
        }
        netconf {
            ssh {
                port 830;
            }
        }
    }
    host-name QFX-LAB4-DZ2;
    time-zone Europe/Brussels;
    authentication-order [ password tacplus ];
    tacplus-server {
        10.11.2.29 {
            secret "$9$3W9S9A0yrv7dsBINbY2aJ.Pfz/t1Icyrv1Rds";
            timeout 1;
            single-connection;
        }
        10.11.2.30 {
            secret "$9$qfT30ORlvL69eWXxdVJGUHPQ/9p0OR/CvL";
            timeout 1;
            single-connection;
        }
    }
    accounting {
        events [ login change-log interactive-commands ];
        destination {
            tacplus;
        }
    }
    scripts {
        commit {
            file igmp-snooping-check.py {
                source "ftp://data:dAtra2@10.11.2.23:/JUNIPER/JUNOS/SCRIPTS/COMMIT/igmp-snooping-check.py";
            }
            file l2-checks.py {
                source "ftp://data:dAtra2@10.11.2.23:/JUNIPER/JUNOS/SCRIPTS/COMMIT/l2-checks.py";
            }
        }
        language python;
        synchronize;
    }
    syslog {
        user * {
            any emergency;
        }
        host 10.11.2.19 {
            any any;
            facility-override local1;
            explicit-priority;
        }
        file messages {
            any any;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
        file default-log-messages {
            any any;
            match "(FRU Offline)|(FRU Online)|(FRU insertion)|(FRU power)|(FRU removal)|(commit complete)|(copying configuration to juniper.save)|(license add)|(license delete)|(link UP)|(package -X delete)|(package -X update)|(plugged in)|(requested 'commit synchronize' operation)|(requested 'commit' operation)|(unplugged)|Transferred|ifAdminStatus|transfer-file|transitioned|QF_NODE|QF_SERVER_NODE_GROUP|QF_INTERCONNECT|QF_DIRECTOR|QF_NETWORK_NODE_GROUP|(Master Unchanged, Members Changed)|(Master Changed, Members Changed)|(Master Detected, Members Changed)|(vc add)|(vc delete)|(Master detected)|(Master changed)|(Backup detected)|(Backup changed)|(interface vcp-)";
            structured-data;
        }
        file messages_firewall_any {
            firewall any;
            archive no-world-readable;
        }
    }
    archival {
        configuration {
            transfer-on-commit;
            archive-sites {
                "ftp://data:dAtra2@10.11.2.23/ARCHIVE/LAB/DMZ";
            }
        }
    }
    ntp {
        boot-server 10.11.2.14;
        server 10.11.2.14;
        server 10.11.2.21;
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 64;
        }
    }
}
security {
    authentication-key-chains {
        key-chain ISIS {
            key 1 {
                secret "$9$mfQ39AuO1EVwikqfF36/CpuB1Rh";
                start-time "2018-12-28.10:00:00 +0100";
                options isis-enhanced;
            }
        }
    }
}
interfaces {
    interface-range l2-access {
        member xe-0/0/37;
        member xe-0/0/38;
    }
    xe-0/0/0 {
        description MX-LAB4-AG2_xe-1/2/0;
        gigether-options {
            802.3ad ae1;
        }
    }
    ge-0/0/1 {
        description Fudgi3_P1;
        flexible-vlan-tagging;
        encapsulation extended-vlan-bridge;
        unit 2000 {
            vlan-id-list 2-4094;
            input-vlan-map push;
            output-vlan-map pop;
        }
    }
    ge-0/0/2 {
        description SRX-LAB4-1_ctrl0;
    }
    xe-0/0/3 {
        description SRX-LAB4-1_xe-1/0/0;
        gigether-options {
            802.3ad ae3;
        }
    }
    ge-0/0/4 {
        description SRX-LAB4-1_ge-0/0/6;
    }
    xe-0/0/5 {
        description Fudgi3_P10G1;
        gigether-options {
            802.3ad ae10;
        }
    }
    xe-0/0/6 {
        apply-macro no-storm-control;
        apply-macro no-stp;
        description C2960-JUM-1;
        enable;
        flexible-vlan-tagging;
        mtu 9192;
        encapsulation extended-vlan-bridge;
        unit 2000 {
            vlan-id 2000;
        }
    }
    xe-0/0/7 {
        description Reserved-OV-DWE_DMZ;
    }
    xe-0/0/12 {
        description Test_SFP-H10GB-ACU7M;
        mtu 9192;
        unit 0 {
            family inet {
                address 2.2.2.2/30;
            }
        }
    }
    ge-0/0/16 {
        description temporaire-pour-pc-arunaud-esx;
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members dmz-mgmt-esxi;
                }
                storm-control default;
            }
        }
    }
    ge-0/0/21 {
        description ACX-LAB4-OB1_ge-0/0/5;
        unit 0;
    }
    ge-0/0/22 {
        description ACX-LAB4-OB2_ge-0/0/5;
        unit 0;
    }
    ge-0/0/23 {
        description ACX-SPARE-OB3_ge-0/0/5;
        unit 0;
    }
    ge-0/0/24 {
        description ACX-SPARE-OB4_ge-0/0/5;
        unit 0;
    }
    xe-0/0/34 {
        description ESX-LAB4-02_vmnic3;
        gigether-options {
            802.3ad ae11;
        }
    }
    ge-0/0/36 {
        description MGMT_IMC;
        unit 0 {
            family inet {
                address 10.10.10.1/24;
            }
        }
    }
    xe-0/0/37 {
        description IXIA-E40-P26;
        mtu 9216;
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ ONT-Field dmz-mgmt-vm ovroonen ];
                }
            }
        }
    }
    xe-0/0/38 {
        description Reserved_IXIA_copper10G;
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                vlan {
                    members TEST_SKYLANE;
                }
            }
        }
    }
    xe-0/0/40 {
        description L-DC2-1A_xe-0/0/0:0;
        gigether-options {
            802.3ad ae40;
        }
    }
    xe-0/0/46 {
        description QFX-LAB4-DZ1_xe-0/0/46;
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-1/0/1 {
        description Fudgi3_P2;
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
                storm-control default;
            }
        }
    }
    ge-1/0/2 {
        description SRX-LAB4-1_ctrl1;
    }
    xe-1/0/3 {
        description SRX-LAB4-1_xe-1/0/1;
        gigether-options {
            802.3ad ae3;
        }
    }
    ge-1/0/4 {
        description SRX-LAB4-1_ge-0/0/7;
    }
    xe-1/0/5 {
        description Fudgi3_P10G2;
        gigether-options {
            802.3ad ae10;
        }
    }
    xe-1/0/34 {
        description ESX-LAB4-02_vmnic4;
        gigether-options {
            802.3ad ae11;
        }
    }
    xe-1/0/40 {
        description L-DC2-1B_xe-0/0/0:0;
        gigether-options {
            802.3ad ae40;
        }
    }
    xe-1/0/45 {
        description Ixia-Port-2/8;
        vlan-tagging;
        mtu 9000;
        unit 10 {
            vlan-id 10;
            family inet {
                address 10.10.20.1/24;
            }
            family inet6 {
                address 210::1/64;
            }
        }
        unit 20 {
            vlan-id 20;
            family inet {
                address 10.20.20.1/24;
            }
            family inet6 {
                address 220::1/64;
            }
        }
        unit 30 {
            vlan-id 30;
            family inet {
                address 10.30.2.1/24;
            }
            family inet6 {
                address 302::1/64;
            }
        }
    }
    xe-1/0/47 {
        description QFX-LAB4-DZ1_xe-0/0/47;
        gigether-options {
            802.3ad ae0;
        }
    }
    ae0 {
        description QFX-LAB4-DZ1_ae0;
        flexible-vlan-tagging;
        mtu 9192;
        encapsulation flexible-ethernet-services;
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ 3-2999 4000-4094 ];
                }
                storm-control default;
            }
        }
        unit 1 {
            vlan-id 1;
            family inet {
                address 10.239.15.1/31;
            }
            family iso;
            family inet6;
            family mpls;
        }
    }
    ae1 {
        description MX-LAB4-AG2;
        flexible-vlan-tagging;
        mtu 9192;
        encapsulation flexible-ethernet-services;
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ 2-999 1002-1999 2001-4094 ];
                }
                storm-control default;
            }
        }
        unit 1000 {
            vlan-id 1000;
            family inet {
                address 10.239.15.52/29;
            }
        }
    }
    ae3 {
        description SRX-LAB;
        aggregated-ether-options {
            link-speed 10g;
            lacp {
                active;
                periodic fast;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members [ UNTRUST-INTERNET UNTRUST-VRF-VOICE TRANSIT-dmz-cnr-cpe TRANSIT-dmz-voice-prov TRANSIT-dmz-mgmt-esxi TRANSIT-dmz-mgmt-vm UNTRUST-PON-PROV DMZ_PROD-LAB MCAST-EVPN UNTRUST-SELFPROVISIONING ];
                }
                storm-control default;
            }
        }
    }
    ae10 {
        apply-macro no-stp;
        description Fudgi3_LAG;
        mtu 9000;
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
                filter {
                    input ospf-troubleshooting;
                }
                storm-control default;
            }
        }
    }
    ae11 {
        apply-macro no-stp;
        description ESX-LAB4-02_Lag;
        mtu 9000;
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
                storm-control default;
            }
        }
    }
    ae40 {
        description L-DC1-1A/B;
        vlan-tagging;
        mtu 9000;
        aggregated-ether-options {
            lacp {
                active;
                periodic fast;
            }
        }
        unit 10 {
            vlan-id 10;
            family inet {
                address 10.10.2.222/24;
            }
            family inet6 {
                address 102::222/64;
            }
        }
        unit 20 {
            vlan-id 20;
            family inet {
                address 10.20.2.222/24;
            }
            family inet6 {
                address 202::222/64;
            }
        }
        unit 30 {
            vlan-id 30;
            family inet {
                address 10.30.0.222/24;
            }
            family inet6 {
                address 300::222/64;
                address fe80::30:222/64;
            }
        }
    }
    irb {
        unit 100 {
            family inet {
                address 10.239.0.3/27 {
                    preferred;
                    vrrp-group 1 {
                        virtual-address 10.239.0.1;
                        priority 200;
                        accept-data;
                    }
                }
                address 10.239.0.66/27 {
                    preferred;
                    vrrp-group 2 {
                        virtual-address 10.239.0.65;
                        priority 200;
                        accept-data;
                    }
                }
            }
        }
        inactive: unit 101 {
            family inet {
                address 85.201.61.27/29 {
                    preferred;
                    vrrp-group 1 {
                        virtual-address 85.201.61.25;
                        priority 200;
                        accept-data;
                    }
                }
            }
            family inet6 {
                address 2a02:2788:fffe:2::3/64 {
                    preferred;
                    vrrp-inet6-group 1 {
                        virtual-inet6-address 2a02:2788:fffe:2::1;
                        virtual-link-local-address fe80::2788:fffe:2:1;
                        priority 200;
                        accept-data;
                    }
                }
                address fe80::2788:fffe:2:3/64 {
                    preferred;
                }
            }
        }
        unit 102 {
            family inet {
                address 10.238.0.35/27 {
                    preferred;
                    vrrp-group 1 {
                        virtual-address 10.238.0.33;
                        priority 200;
                        accept-data;
                    }
                }
            }
        }
        unit 103 {
            family inet {
                address 10.239.0.35/27 {
                    preferred;
                    vrrp-group 1 {
                        virtual-address 10.239.0.33;
                        priority 200;
                        accept-data;
                    }
                }
            }
        }
        unit 1000 {
            family inet {
                address 10.239.15.9/29;
            }
        }
        unit 4084 {
            description Transit-dmz-mgmt-vm;
            family inet {
                address 10.239.15.43/29;
            }
        }
        unit 4085 {
            description Transit-dmz-mgmt-esxi;
            family inet {
                address 10.239.15.35/29;
            }
        }
        unit 4086 {
            description Transit-dmz-voice-prov;
            family inet {
                address 10.239.15.27/29;
            }
        }
        inactive: unit 4087 {
            description Transit-dmz-cnr-cpe;
            family inet {
                address 10.239.15.19/29;
            }
            family inet6 {
                address 2a02:2788:fffe:3::3/112;
                address fe80::2788:fffe:3:3/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.239.255.9/32;
            }
            family iso {
                address 49.0000.0102.3925.5009.00;
            }
        }
    }
    vme {
        unit 0 {
            family inet {
                address 192.168.200.30/24;
            }
        }
    }
}
snmp {
    community CADMIUM {
        authorization read-only;
    }
    trap-group space {
        targets {
            10.11.2.60;
        }
    }
}
forwarding-options {
    storm-control-profiles default {
        all;
    }
}
policy-options {
    prefix-list DMZ_subnets {
        10.238.0.0/16;
        10.239.0.0/16;
    }
    prefix-list rfc1918 {
        10.0.0.0/8;
        172.16.0.0/12;
        192.168.0.0/16;
    }
    prefix-list IXIAv6 {
        111::/64;
        122::/64;
    }
    prefix-list IXIAv4 {
        10.10.11.0/24;
        10.10.22.0/24;
    }
    prefix-list QFX2 {
        10.10.2.0/24;
    }
    policy-statement DIRECT {
        from protocol direct;
        then accept;
    }
    policy-statement IXIAv4 {
        term ixia {
            from {
                prefix-list IXIAv4;
                prefix-list QFX2;
            }
            then {
                community add QFX2;
                accept;
            }
        }
    }
    policy-statement IXIAv6 {
        term ixia {
            from {
                prefix-list IXIAv6;
            }
            then accept;
        }
    }
    policy-statement Only-Default-Route {
        term default-route {
            from {
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term reject-all-other-routes {
            then reject;
        }
    }
    policy-statement Only-Default-RouteIPV6 {
        term default-route {
            from {
                route-filter ::/0 exact;
            }
            then accept;
        }
        term reject-all-other-routes {
            then reject;
        }
    }
    policy-statement PL-AGGREGATE {
        term AGGREGATE {
            from protocol aggregate;
            then accept;
        }
    }
    policy-statement PL-DIRECT {
        term DIRECT {
            from protocol direct;
            then accept;
        }
    }
    policy-statement PL-STATIC {
        term STATIC {
            from protocol static;
            then accept;
        }
    }
    policy-statement PO-dmz-to-qfx-prod {
        from {
            prefix-list-filter DMZ_subnets orlonger;
        }
        then accept;
    }
    policy-statement PO-dmz-to-srx {
        term no-transit {
            from {
                route-filter 10.239.15.16/29 orlonger;
            }
            then reject;
        }
        term dmz-aggregate {
            from protocol aggregate;
            then accept;
        }
        term dmz {
            from protocol direct;
            then accept;
        }
        term dmz-lb {
            from protocol static;
            then accept;
        }
        term reject-all-other {
            then reject;
        }
    }
    policy-statement PO-dmz-to-srx-ipv6 {
        term no-transit {
            from {
                route-filter 2a02:2788:fffe:3::/64 orlonger;
            }
            then reject;
        }
        term dmz-aggregate {
            from protocol aggregate;
            then accept;
        }
        term dmz {
            from protocol direct;
            then accept;
        }
        term dmz-lb {
            from protocol static;
            then accept;
        }
        term reject-all-other {
            then reject;
        }
    }
    policy-statement STATIC {
        term static {
            from protocol static;
            then accept;
        }
    }
    policy-statement nh-vga-v4 {
        then {
            next-hop 100.2.2.22;
            accept;
        }
    }
    policy-statement rfc1918 {
        term 1 {
            from {
                prefix-list-filter rfc1918 exact;
            }
            then accept;
        }
        term 2 {
            then reject;
        }
    }
    policy-statement set-local-pref-150 {
        term set-lp {
            then {
                local-preference 150;
                next policy;
            }
        }
    }
    policy-statement set-local-pref-200 {
        term set-lp {
            then {
                local-preference 200;
                next policy;
            }
        }
    }
    policy-statement set-next-hop-self {
        term nhs {
            then {
                next-hop self;
                next policy;
            }
        }
    }
    community QFX2 members 64514:222;
    community SRX members 64514:100;
}
class-of-service {
    classifiers {
        dscp voo-dscp {
            forwarding-class best-effort {
                loss-priority low code-points [ 000000 000001 000010 000011 000100 000101 000110 000111 ];
                loss-priority high code-points [ 001000 001001 001010 001011 001100 001101 001110 001111 ];
            }
            forwarding-class business-critical {
                loss-priority low code-points [ 010000 010001 010010 010011 010100 010101 010110 010111 ];
            }
            forwarding-class assured-forwarding {
                loss-priority low code-points [ 011000 011001 011010 011011 011100 011101 011110 011111 ];
                loss-priority high code-points [ 100000 100001 100010 100011 100100 100101 100110 100111 ];
            }
            forwarding-class expedited-forwarding {
                loss-priority low code-points [ 101000 101001 101010 101011 101100 101101 101110 101111 ];
            }
            forwarding-class network-control {
                loss-priority low code-points [ 110000 110001 110010 110011 110100 110101 110110 110111 ];
                loss-priority high code-points [ 111000 111001 111010 111011 111100 111101 111110 111111 ];
            }
        }
        dscp-ipv6 voo-dscp-ipv6 {
            forwarding-class best-effort {
                loss-priority low code-points [ 000000 000001 000010 000011 000100 000101 000110 000111 ];
                loss-priority high code-points [ 001000 001001 001010 001011 001100 001101 001110 001111 ];
            }
            forwarding-class business-critical {
                loss-priority low code-points [ 010000 010001 010010 010011 010100 010101 010110 010111 ];
            }
            forwarding-class assured-forwarding {
                loss-priority low code-points [ 011000 011001 011010 011011 011100 011101 011110 011111 ];
                loss-priority high code-points [ 100000 100001 100010 100011 100100 100101 100110 100111 ];
            }
            forwarding-class expedited-forwarding {
                loss-priority low code-points [ 101000 101001 101010 101011 101100 101101 101110 101111 ];
            }
            forwarding-class network-control {
                loss-priority low code-points [ 110000 110001 110010 110011 110100 110101 110110 110111 ];
                loss-priority high code-points [ 111000 111001 111010 111011 111100 111101 111110 111111 ];
            }
        }
        exp voo-exp {
            forwarding-class best-effort {
                loss-priority low code-points 000;
                loss-priority high code-points 001;
            }
            forwarding-class business-critical {
                loss-priority low code-points 010;
            }
            forwarding-class assured-forwarding {
                loss-priority low code-points 011;
                loss-priority high code-points 100;
            }
            forwarding-class expedited-forwarding {
                loss-priority low code-points 101;
            }
            forwarding-class network-control {
                loss-priority low code-points 110;
                loss-priority high code-points 111;
            }
        }
        ieee-802.1 voo-802.1p {
            forwarding-class best-effort {
                loss-priority low code-points 000;
                loss-priority high code-points 001;
            }
            forwarding-class business-critical {
                loss-priority low code-points 010;
            }
            forwarding-class assured-forwarding {
                loss-priority low code-points 011;
                loss-priority high code-points 100;
            }
            forwarding-class expedited-forwarding {
                loss-priority low code-points 101;
            }
            forwarding-class network-control {
                loss-priority low code-points 110;
                loss-priority high code-points 111;
            }
        }
    }
    drop-profiles {
        dp-be-high {
            interpolate {
                fill-level [ 75 100 ];
                drop-probability [ 0 100 ];
            }
        }
    }
    shared-buffer {
        egress {
            percent 100;
            buffer-partition lossless {
                percent 0;
            }
            buffer-partition lossy {
                percent 60;
            }
            buffer-partition multicast {
                percent 40;
            }
        }
    }
    forwarding-classes {
        class best-effort queue-num 0;
        class business-critical queue-num 4;
        class assured-forwarding queue-num 2;
        class expedited-forwarding queue-num 3;
        class network-control queue-num 7;
    }
    interfaces {
        apply-groups CoS-default-scheduler-map;
        et-* {
            apply-groups CoS-default-scheduler-map;
            unit * {
                classifiers {
                    dscp voo-dscp;
                    dscp-ipv6 voo-dscp-ipv6;
                    exp voo-exp;
                    ieee-802.1 voo-802.1p;
                }
            }
        }
        ge-* {
            apply-groups CoS-default-scheduler-map;
            unit * {
                classifiers {
                    dscp voo-dscp;
                    dscp-ipv6 voo-dscp-ipv6;
                    exp voo-exp;
                    ieee-802.1 voo-802.1p;
                }
            }
        }
        xe-* {
            apply-groups CoS-default-scheduler-map;
            unit * {
                classifiers {
                    dscp voo-dscp;
                    dscp-ipv6 voo-dscp-ipv6;
                    exp voo-exp;
                    ieee-802.1 voo-802.1p;
                }
            }
        }
        ae* {
            apply-groups CoS-default-scheduler-map;
            unit * {
                classifiers {
                    dscp voo-dscp;
                    dscp-ipv6 voo-dscp-ipv6;
                    exp voo-exp;
                    ieee-802.1 voo-802.1p;
                }
            }
        }
    }
    scheduler-maps {
        smap-high-bw {
            forwarding-class best-effort scheduler sched-high-bw-be;
            forwarding-class assured-forwarding scheduler sched-high-bw-af;
            forwarding-class business-critical scheduler sched-high-bw-bc;
            forwarding-class expedited-forwarding scheduler sched-high-bw-ef;
            forwarding-class network-control scheduler sched-high-bw-nc;
            forwarding-class mcast scheduler sched-high-bw-mcast;
        }
    }
    schedulers {
        sched-high-bw-be {
            transmit-rate percent 45;
            buffer-size percent 60;
            priority low;
            drop-profile-map loss-priority high protocol any drop-profile dp-be-high;
        }
        sched-high-bw-bc {
            transmit-rate percent 25;
            buffer-size percent 15;
            priority low;
        }
        sched-high-bw-af {
            transmit-rate percent 15;
            buffer-size percent 10;
            priority low;
        }
        sched-high-bw-ef {
            shaping-rate percent 5;
            buffer-size percent 5;
            priority strict-high;
        }
        sched-high-bw-nc {
            shaping-rate percent 5;
            buffer-size percent 9;
            priority strict-high;
        }
        sched-high-bw-mcast {
            transmit-rate percent 5;
            buffer-size percent 1;
            priority low;
        }
    }
}
firewall {
    family ethernet-switching {
        filter ospf-troubleshooting {
            term from_vrr {
                from {
                    ip-source-address {
                        10.239.252.99/32;
                    }
                    ip-destination-address {
                        224.0.0.5/32;
                    }
                }
                then {
                    accept;
                    count from_vrr;
                }
            }
            term accept {
                then accept;
            }
        }
    }
}
routing-instances {
    PROD-LAB {
        instance-type vrf;
        interface ae1.1000;
        interface irb.1000;
        vrf-target target:65514:1000;
        vrf-table-label;
        routing-options {
            autonomous-system 65514;
        }
        protocols {
            bgp {
                group DMZ_PROD-LAB {
                    type external;
                    family inet {
                        unicast;
                    }
                    family inet6 {
                        unicast;
                    }
                    export PO-dmz-to-qfx-prod;
                    peer-as 64514;
                    neighbor 10.239.15.50 {
                        description QFX-ANS-DMZ-1;
                    }
                }
                group SRX {
                    type external;
                    family inet {
                        unicast;
                    }
                    family inet6 {
                        unicast;
                    }
                    export rfc1918;
                    peer-as 65513;
                    neighbor 10.239.15.10 {
                        description SRX-LAB4-1;
                    }
                }
            }
        }
    }
    inactive: dmz-cnr-cpe {
        instance-type vrf;
        interface irb.101;
        interface irb.4087;
        vrf-target target:65514:4087;
        vrf-table-label;
        routing-options {
            autonomous-system 65514;
        }
        protocols {
            bgp {
                group srx {
                    type external;
                    authentication-key "$9$u24lOEy8X-Vb28XmTQ3puO1IhlK8Lx";
                    export PO-dmz-to-srx;
                    peer-as 65513;
                    neighbor 10.239.15.17 {
                        import Only-Default-Route;
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            minimum-receive-interval 1000;
                            multiplier 5;
                        }
                    }
                }
                group srx-ipv6 {
                    type external;
                    authentication-key "$9$u24lOEy8X-Vb28XmTQ3puO1IhlK8Lx";
                    export PO-dmz-to-srx-ipv6;
                    peer-as 65513;
                    neighbor 2a02:2788:fffe:3::1 {
                        import Only-Default-RouteIPV6;
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            minimum-receive-interval 1000;
                            multiplier 5;
                        }
                    }
                }
            }
        }
    }
    dmz-mgmt-esxi {
        instance-type vrf;
        interface irb.100;
        interface irb.4085;
        vrf-target target:65514:4085;
        vrf-table-label;
        routing-options {
            autonomous-system 65514;
        }
        protocols {
            bgp {
                graceful-restart;
                group srx {
                    type external;
                    authentication-key "$9$u24lOEy8X-Vb28XmTQ3puO1IhlK8Lx";
                    export PO-dmz-to-srx;
                    peer-as 65513;
                    neighbor 10.239.15.33 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            minimum-receive-interval 1000;
                            multiplier 5;
                        }
                    }
                }
            }
        }
    }
    dmz-mgmt-vm {
        instance-type vrf;
        interface irb.103;
        interface irb.4084;
        vrf-target target:65514:4084;
        vrf-table-label;
        routing-options {
            autonomous-system 65514;
        }
        protocols {
            bgp {
                graceful-restart;
                group srx {
                    type external;
                    authentication-key "$9$u24lOEy8X-Vb28XmTQ3puO1IhlK8Lx";
                    export PO-dmz-to-srx;
                    peer-as 65513;
                    neighbor 10.239.15.41 {
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            minimum-receive-interval 1000;
                            multiplier 5;
                        }
                    }
                }
            }
        }
    }
    dmz-voice-prov {
        instance-type vrf;
        interface irb.102;
        interface irb.4086;
        vrf-target target:65514:4086;
        vrf-table-label;
        routing-options {
            autonomous-system 65514;
        }
        protocols {
            bgp {
                graceful-restart;
                group srx {
                    type external;
                    authentication-key "$9$u24lOEy8X-Vb28XmTQ3puO1IhlK8Lx";
                    export PO-dmz-to-srx;
                    peer-as 65513;
                    neighbor 10.239.15.25 {
                        import Only-Default-Route;
                        bfd-liveness-detection {
                            minimum-interval 1000;
                            minimum-receive-interval 1000;
                            multiplier 5;
                        }
                    }
                }
            }
        }
    }
    vr10 {
        instance-type virtual-router;
        interface xe-1/0/45.10;
        interface ae40.10;
        routing-options {
            rib vr10.inet6.0 {
                static {
                    route ::/0 next-hop 102::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.10.2.1;
            }
            autonomous-system 65222;
        }
    }
    vr20 {
        instance-type virtual-router;
        interface xe-1/0/45.20;
        interface ae40.20;
        routing-options {
            autonomous-system 65222;
        }
        protocols {
            bgp {
                export PL-DIRECT;
                group 20-v4 {
                    peer-as 64514;
                    neighbor 10.20.2.21;
                    neighbor 10.20.2.22;
                }
                group 20-v6 {
                    peer-as 64514;
                    neighbor 202::21;
                    neighbor 202::22;
                }
            }
        }
    }
    vr30 {
        instance-type virtual-router;
        interface xe-1/0/45.30;
        interface ae40.30;
        routing-options {
            rib vr30.inet6.0 {
                static {
                    route ::/0 next-hop 300::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.30.0.1;
            }
        }
        protocols {
            ospf {
                area 0.0.0.0 {
                    interface all;
                }
            }
            ospf3 {
                area 0.0.0.0 {
                    interface all;
                }
            }
        }
    }
}
routing-options {
    static {
        route 10.11.2.0/24 next-hop 192.168.200.1;
    }
    route-distinguisher-id 10.239.255.9;
    autonomous-system 65514;
}
#
# $Id:$
#
# Copyright (c) 2014, Juniper Networks, Inc.
# All rights reserved.
#
# Filename: default-flex.conf
# Platform: MERUS
# Description: Factory default config for Junos-flex.
#
#
protocols {
    lacp {
        traceoptions {
            file lacp;
            flag all;
        }
    }
    bgp {
        group ibgp {
            type internal;
            local-address 10.239.255.9;
            family inet-vpn {
                unicast;
            }
            family inet6-vpn {
                unicast;
            }
            family evpn {
                signaling;
            }
            export set-next-hop-self;
            vpn-apply-export;
            multipath;
            neighbor 10.239.255.8;
        }
    }
    isis {
        no-adjacency-holddown;
        backup-spf-options {
            use-post-convergence-lfa;
            use-source-packet-routing;
        }
        source-packet-routing {
            srgb start-label 800000 index-range 4094;
            node-segment {
                ipv4-index 402;
                ipv6-index 602;
            }
        }
        level 2 {
            authentication-key-chain ISIS;
            wide-metrics-only;
            source-packet-routing;
        }
        level 1 disable;
        interface ae0.1 {
            hello-padding adaptive;
            point-to-point;
            family inet {
                bfd-liveness-detection {
                    minimum-interval 300;
                    minimum-receive-interval 300;
                    multiplier 3;
                }
            }
        }
        interface lo0.0 {
            passive;
        }
    }
    mpls {
        explicit-null;
        interface ae0.1;
    }
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
    lldp-med {
        interface all;
    }
    igmp-snooping {
        vlan dmz-mgmt-esxi;
        vlan UNTRUST-INTERNET;
        vlan DMZ_PROD-LAB;
        vlan UNTRUST-VRF-VOICE;
        vlan TRANSIT-dmz-cnr-cpe;
        vlan TRANSIT-dmz-voice-prov;
        vlan dmz-voice-prov;
        vlan TRANSIT-dmz-mgmt-esxi;
        vlan dmz-mgmt-vm;
        vlan TRANSIT-dmz-mgmt-vm;
        vlan QFX-QFX;
        vlan TEST_SKYLANE;
        vlan Dirty;
        vlan Clean;
        vlan UNTRUST-PON-PROV;
        vlan dhcpv6;
        vlan vlan1;
        vlan vlan2;
        vlan Test-CoS;
        vlan MCAST-EVPN;
        vlan UNTRUST-SELFPROVISIONING;
    }
    rstp {
        interface ge-0/0/1;
        interface ge-0/0/16;
        interface ge-1/0/1;
        interface ae0 {
            mode point-to-point;
            edge;
            no-root-port;
        }
        interface ae1 {
            mode point-to-point;
            edge;
            no-root-port;
        }
        interface ae3 {
            mode point-to-point;
            edge;
            no-root-port;
        }
        bpdu-block-on-edge;
    }
}
virtual-chassis {
    preprovisioned;
    no-split-detection;
    member 1 {
        role routing-engine;
        serial-number WS3717360030;
    }
    member 0 {
        role routing-engine;
        serial-number WS3717370028;
    }
}
vlans {
    BB-VRR {
        apply-macro no-igmp-snooping;
        vlan-id 500;
    }
    Clean {
        vlan-id 667;
    }
    DMZ_PROD-LAB {
        vlan-id 1000;
        l3-interface irb.1000;
    }
    Dirty {
        vlan-id 666;
    }
    IXIA-P13-TO-BRUONE {
        apply-macro no-igmp-snooping;
        apply-macro no-stp;
        interface ge-0/0/1.2000;
        interface xe-0/0/6.2000;
    }
    MCAST-EVPN {
        vlan-id 1234;
    }
    ONT-Field {
        apply-macro no-igmp-snooping;
        vlan-id-list 600-604;
    }
    TEST_SKYLANE {
        vlan-id 10;
    }
    TRANSIT-dmz-cnr-cpe {
        vlan-id 4087;
        inactive: l3-interface irb.4087;
    }
    TRANSIT-dmz-mgmt-esxi {
        vlan-id 4085;
        l3-interface irb.4085;
    }
    TRANSIT-dmz-mgmt-vm {
        vlan-id 4084;
        l3-interface irb.4084;
    }
    TRANSIT-dmz-voice-prov {
        vlan-id 4086;
        l3-interface irb.4086;
    }
    Test-CoS {
        vlan-id 777;
    }
    UNTRUST-INTERNET {
        vlan-id 4094;
    }
    UNTRUST-PON-PROV {
        vlan-id 4092;
    }
    UNTRUST-SELFPROVISIONING {
        vlan-id 4064;
    }
    UNTRUST-VRF-VOICE {
        vlan-id 4093;
    }
    dmz-cnr-cpe {
        apply-macro no-igmp-snooping;
        vlan-id 101;
        inactive: l3-interface irb.101;
    }
    dmz-mgmt-esxi {
        vlan-id 100;
        l3-interface irb.100;
    }
    dmz-mgmt-vm {
        vlan-id 103;
        l3-interface irb.103;
    }
    dmz-voice-prov {
        vlan-id 102;
        l3-interface irb.102;
    }
    ovroonen {
        apply-macro no-igmp-snooping;
        vlan-id 333;
    }
    vlan1 {
        vlan-id 1;
    }
    vlan2 {
        vlan-id 2;
    }
}
