{# ###### SPINE / LEAF MXs ##### #}

groups {
    GR-EDGE-INTF-LAG-MEMBER {
        interfaces {
            <*> {
                hold-time up 2000 down 0;
                optics-options {
                    alarm low-light-alarm {
                        syslog;
                    }
                    warning low-light-warning {
                        syslog;
                    }
                }
            }
        }
    }
    replace: GR-EDGE-INTF-L2 {
        interfaces {
            <ae*> {
                flexible-vlan-tagging;
                encapsulation flexible-ethernet-services;
                mtu 9000;
                aggregated-ether-options {
                    minimum-links 1;
                    lacp {
                        active;
                        periodic fast;
                        accept-data;
                        hold-time up 2;
                    }
                }
                unit <*> {
                    encapsulation vlan-bridge;
                    esi {
                        auto-derive {
                           lacp;
                        }
                        all-active;
                    }
                }
            }
        }
    }
}
interfaces {
{% for ae_member in ae_members %}
    replace: {{ae_member}} {
        apply-groups GR-EDGE-INTF-LAG-MEMBER;
        gigether-options {
            802.3ad {{ae_name}};
        }
    }
{% endfor %}
    {{ae_name}} {
        apply-groups GR-EDGE-INTF-L2;
        description "{{host_name}} ---- {{description}}";
        aggregated-ether-options {
            lacp {
                replace: system-id {{sys_id}};
            }
        }
        replace: unit {{evi10.id}} {
            vlan-id {{evi10.id}};
        }
    }
    irb {
        replace: unit {{evi10.id}} {
            virtual-gateway-accept-data;
            family inet {
                address {{evi10.ipv4_subnet}}.{{local_ip}}/{{evi10.ipv4_mask}} {
                    preferred;
                    virtual-gateway-address {{evi10.ipv4_subnet}}.{{virtual_ip}};
                }
            }
            family inet6 {
                address {{evi10.ipv6_subnet}}::{{local_ip}}/{{evi10.ipv6_mask}} {
                    preferred;
                    virtual-gateway-address {{evi10.ipv6_subnet}}::{{virtual_ip}};
                }
                address fe80::{{evi10.id}}:{{local_ip}}/{{evi10.ipv6_mask}};
            }
            virtual-gateway-v4-mac {{evi10.virtual_v4_mac}};
            virtual-gateway-v6-mac {{evi10.virtual_v6_mac}};
        }
    }
}
routing-options {
    route-distinguisher-id {{loopback}};
}
routing-instances {
    replace: vlan{{evi10.id}} {
        description "EVPN instance for VLAN {{evi10.id}}";
        instance-type evpn;
        vlan-id {{evi10.id}};
        interface {{ae_name}}.{{evi10.id}};
        routing-interface irb.{{evi10.id}};
        vrf-target target:64514:{{evi10.evi}};
        protocols {
            evpn {
                default-gateway no-gateway-community;
            }
            igmp-snooping {
                proxy;
            }
            mld-snooping {
                proxy {
                    source-address fe80::{{evi10.id}}:{{local_ip}};
                }
            }
        }
    }
    replace: vrf{{evi10.id}} {
        description "VRF instance for IRB in VLAN {{evi10.id}}";
        instance-type vrf;
        interface irb.{{evi10.id}};
        vrf-target target:64514:{{evi10.id}};
        vrf-table-label;
        routing-options {
            multipath;
            autonomous-system 64514;
{% if "S-DC" in host_name %}
            rib vrf{{evi10.id}}.inet6.0 {
                aggregate {
                    route 101::/64;
                    route 102::/64;
                    route 110::/64;
                    route 120::/64;
                }
            }
            aggregate {
                route 10.10.0.0/16;
            }
{% endif %}
        }
{% if "S-DC" in host_name %}
        protocols {
            bgp {
                group {{description}} {
                    multihop {
                        no-nexthop-change;
                    }
                    peer-as {{ce_asn}};
                    replace: neighbor {{evi10.ipv4_subnet}}.{{ce_ip}} {
                        export PL-EVI{{evi10.id}}-V4;
                    }
                    replace: neighbor {{evi10.ipv6_subnet}}::{{ce_ip}} {
                        export PL-EVI{{evi10.id}}-V6;
                    }
                }
            }
        }
{% elif "L-DC1" in host_name %}
        protocols {
            bgp {
                group {{description}} {
                    multihop {
                        no-nexthop-change;
                    }
                    peer-as {{ce_asn}};
                    replace: neighbor {{evi10.ipv4_subnet}}.{{ce_ip}} {
                        export PL-EVI{{evi10.id}}-DEFAULT-NH-VGA-V4;
                    }
                    replace: neighbor {{evi10.ipv6_subnet}}::{{ce_ip}} {
                        export PL-EVI{{evi10.id}}-DEFAULT-NH-VGA-V6;
                    }
                }
            }
        }
{% endif %}
    }
}
protocols {
    lldp {
        interface {{ae_name}};
    }
}
{% if "L-DC1" in host_name %}
policy-options {
    replace: policy-statement PL-EVI{{evi10.id}}-DEFAULT-NH-VGA-V4 {
        term DEFAULT-NH-VGA-V4 {
            from {
                prefix-list PL-DEFAULT-V4;
            }
            then {
                next-hop {{evi10.ipv4_subnet}}.{{virtual_ip}};
                accept;
            }
        }
        term DROP {
            then reject;
        }
    }
    replace: policy-statement PL-EVI{{evi10.id}}-DEFAULT-NH-VGA-V6 {
        term DEFAULT-NH-VGA-V6 {
            from {
                prefix-list PL-DEFAULT-V6;
            }
            then {
                next-hop {{evi10.ipv6_subnet}}::{{virtual_ip}};
                accept;
            }
        }
        term DROP {
            then reject;
        }
    }
    prefix-list PL-DEFAULT-V4 {
        0.0.0.0/0;
    }
    prefix-list PL-DEFAULT-V6 {
        ::/0;
    }
}
{% elif "S-DC" in host_name %}
policy-options {
    replace: policy-statement PL-EVI{{evi10.id}}-V4 {
        term DEFAULT-NH-VGA-V4 {
            from {
                prefix-list PL-EVI{{evi10.id}}-V4;
            }
            then {
                next-hop {{evi10.ipv4_subnet}}.{{virtual_ip}};
                accept;
            }
        }
        term DROP {
            then reject;
        }
    }
    replace: policy-statement PL-EVI{{evi10.id}}-V6 {
        term DEFAULT-NH-VGA-V6 {
            from {
                prefix-list PL-EVI{{evi10.id}}-V6;
            }
            then {
                next-hop {{evi10.ipv6_subnet}}::{{virtual_ip}};
                accept;
            }
        }
        term DROP {
            then reject;
        }
    }
    prefix-list PL-EVI10-V4 {
        10.10.0.0/16;
    }
    prefix-list PL-EVI20-V4 {
        10.20.0.0/16;
    }
    prefix-list PL-EVI10-V6 {
        101::/64;
        102::/64;
        110::/64;
        210::/64;
    }
    prefix-list PL-EVI20-V6 {
        201::/64;
        202::/64;
        120::/64;
        220::/64;
    }
}
{% endif %}