activate system commit fast-synchronize
activate system switchover-on-routing-crash
activate chassis redundancy graceful-switchover
activate routing-options nonstop-routing
activate protocols layer2-control nonstop-bridging