deactivate system commit fast-synchronize
deactivate system configuration-database extend-size
deactivate system switchover-on-routing-crash
deactivate chassis redundancy graceful-switchover
deactivate routing-options nonstop-routing
deactivate protocols layer2-control nonstop-bridging