replace: routing-instances {
    mgmt_junos {
        routing-options {
            static {
                route 0.0.0.0/0 next-hop 192.168.200.1;
            }
        }
    }
}
interfaces {
    replace: ae10 {
        apply-groups GR-EDGE-INTF-L2;
    }
    replace: irb {
        description IRB
    }
}
replace: policy-options {
    policy-statement PL-LOAD-BALANCE {
        term LB {
            then {
                load-balance per-packet;
            }
        }
    }
    policy-statement PL-NH-SELF {
        term NHS {
            then {
                next-hop self;
            }
        }
    }
}
